body{
    background-color: white;
    background-image:url("./images/7.jpg") ;
    background-repeat: no-repeat;
    background-size:1550px 1200px;
}
.template{
  position: relative;
  top: 20vh;
  margin: auto;
  width: 60%;
  height:auto;
  background:-moz-linear-gradient();
  padding: 5%;
  border: 1px solid red;
  box-shadow: 0px 0px 2px 2px rgba(191, 193, 193, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.9vh;
  overflow: hidden;
}
.head{
    position: relative;
    top: -4vh;
    margin-bottom:2vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.7rem; 
    color: rgb(1, 25, 91);
    /* text-shadow:5px 3px 3px 3px rgba(96, 48, 42, 0.49) ; */
}
.context{
    background-color: rgba(96, 48, 42, 0.49);
    padding: 5%;
    margin-bottom: 2vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4em;
    border-radius: 2vh;
    color: rgb(254, 254, 254);
}
.author{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(191, 193, 193, 0.87);
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
