body
{
    display: content;
    justify-content: center;
    background-image: url("/images/3.jpg") ;
    background-repeat: no-repeat;
    background-size: 1600px;
}
.temp
{
    display: flex;
    position: relative;
    top: 14vh;
    margin: auto;
    width: 75vw;
    height: 70vh;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.innertemp
{
   z-index: 2;
   position: relative;
   height: 100.4%;
   margin-top:-0.1% ;
   margin-left: -0.1%;
   width: 55%;
   padding: -2%;
   background-image: url("/images/body-back.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   object-fit: scale-down;
}
.blur-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
    backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
}
.headtxt
{
  font-size: 3.5em;
  color: rgb(252, 252, 252);
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: relative;
  top: 17vh;
  text-align: center;
}
.context
{
  width: 60%;
  margin: auto;
  font-size: 1.2em;
  margin: auto;
  color: rgb(252, 252, 252);
  font-family:Georgia, 'Times New Roman', Times, serif;
  position: relative;
  top: 22vh;
  text-align: left;
}
.formtemp
{
    position: relative;
    width: 45%;
    height: 100%;

}
.regtxt
{
    position: relative;
    top: 9vh;
    font-family:Arial;
    font-size: 1.7rem;
    font: bolder;
    text-align: center;
    color: rgb(125,55,255);
}
#imglogo
{
    margin-left: 5%;
}
.name
{
    position: relative;
    top: 12vh;
    width: 18vw;
    height: 1.7rem;
    padding: 2%;
    /* border: 1px solid red; */
    background-color:rgb(207, 205, 205,0.5);
    display: inline-flex;
    justify-content: left;
    margin-left: 20%;
    border-radius: 0.8vw ;
}
.name input
{
    background-color: transparent;
    border: none;
    outline: none;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    width: 70%;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1rem;
    font: bold;
    border-bottom:1px solid grey ;
    margin-left: 4%;
}

.email
{
    position: relative;
    top: 15vh;
    width: 18vw;
    height: 1.7rem;
    padding: 2%;
    /* border: 1px solid red; */
    background-color:rgb(207, 205, 205,0.5);
    display: inline-flex;
    justify-content: left;
    margin-left: 20%;
    border-radius: 0.8vw ;
}
.email input
{
    background-color: transparent;
    border: none;
    outline: none;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    width: 70%;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1rem;
    font: bold;
    border-bottom:1px solid grey ;
    margin-left: 4%;
}

.password
{
    position: relative;
    top: 18vh;
    width: 18vw;
    height: 1.7rem;
    padding: 2%;
    /* border: 1px solid red; */
    background-color:rgb(207, 205, 205,0.5);
    display: inline-flex;
    justify-content: left;
    margin-left: 20%;
    border-radius: 0.8vw ;
    object-fit: scale-down;
}
.password input
{
    background-color: transparent;
    border: none;
    outline: none;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    width: 70%;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 1rem;
    font: bold;
    border-bottom:1px solid grey ;
    margin-left: 4%;
}
.check
{
    position: relative;
    top: 21vh;
    margin-left: 20%;
    color: rgb(3, 3, 3);
}

.reg
{
    display: inline-flex;
    position: relative;
    top: 25vh;
    width: 25%;
    height: 5vh;
    margin-left: 37%;


}
.reg button
{
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bolder;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    object-fit: scale-down;
    background-image: url("/images/body-back.jpg");
    color: white;
    width: 100%;
    border-radius: 0.8rem;
}
.Errors{
  position:relative;
  top:2vh;
  margin:auto;
  font-size:1rem;
  color:red;
  height:5vh;
  width:90%;
  text-align:center;
}